/*! minireset.css v0.0.2 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

ul {
    list-style: none;
}

button,
input,
select,
textarea {
    margin: 0;
}

html,body {
    box-sizing: border-box;
    height: 100%;
}

* {
    box-sizing: inherit;
}

*:before, *:after {
    box-sizing: inherit;
}

img,
embed,
object,
audio,
video {
    height: auto;
    max-width: 100%;
}

iframe {
    border: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0;
    text-align: left;
}


/*滚动条样式*/
/*普通DIV滚动条样式*/
.com-scroll::-webkit-scrollbar{
    width: 8px;
    height: 8px;
}
.com-scroll::-webkit-scrollbar-thumb,::-webkit-scrollbar-track{
    border-radius: 999px;
    border: 1px solid transparent;
}
.com-scroll::-webkit-scrollbar-thumb{
    min-height: 44px;
    width: 10px;
    -webkit-box-shadow: inset 0 0 0 5px rgba(0,0,0,.2);
    box-shadow: inset 0 0 0 5px rgba(0,0,0,.2);
    -webkit-background-clip: border-box;
    -moz-background-clip: border;
    background-clip: border-box;
}
.com-scroll::-webkit-scrollbar-corner{
    background: transparent;
}
.com-scroll::-webkit-scrollbar-track{
    -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,.2) inset;
    box-shadow: 1px 1px 5px rgba(0,0,0,.2) inset;
}